
*#
*.bak
*.db
*.dxf
*.gz
*.hex
*.htm
*.i
*.jar
*.lst
*.opendb
*.orig
*.png
*.pyc
*.pyd
*.save*
*.txt
*.xls*
*_wrap.c
*~
.#*
.project
.vs/
.vscode/
Backup/
Backup1/
Backup3/*
Debug/
Drawings/*
Lathe/Debug/
accel.txt
accel.txt
cfg/
dbg*.txt
dbg/
dbgLog.txt
doc/
dxf/
geom.py
git.log
git.py
ipch/
latheCtl.py
move.txt
newpylathe
posInfo.txt
posinfo.txt
pylathe.xx
pylintrc
remcmd.py
rpi.txt
run.txt
spindle.txt
taper.txt
tmp*.txt
tst.txt
turnAccel.txt
xtmp.txt
zsync.txt
