.#*
*#
*.bak
*.db
*.dxf
*.hex
*.i
*.jar
*.lst
*.opendb
*.pyc
*.pyd
*.save*
*.xls*
*_wrap.c
*~
.project
newpylathe
accel.txt
spindle.txt
accel.txt
taper.txt
*.orig
turnAccel.txt
move.txt
tst.txt
zsync.txt
xtmp.txt
run.txt
rpi.txt
dbg*.txt
tmp*.txt
dbgLog.txt
posInfo.txt
.vs/
.vscode/
Backup/
Backup1/
cfg/
Debug/
dbg/
doc/
dxf/
geom.py
git.log
git.py
ipch/
Lathe/Debug/
latheCtl.py
pylintrc
pylathe.xx
remcmd.py
*.gz
*.htm
posinfo.txt

*.txt
